
:root {
    --gradient-colors-periodicos: linear-gradient(
        to bottom, 
        #fecc00 0%, 
        #fecc00 5%, 
        #1c1c5e 5%, 
        #1c1c5e 10%, 
        #ec1c21 10%, 
        #ec1c21 15%, 
        #981534 15%, 
        #981534 20%, 
        #006699 20%, 
        #006699 25%, 
        #f79815 25%, 
        #f79815 30%, 
        #006634 30%, 
        #006634 35%, 
        #cb1567 35%, 
        #cb1567 40%, 
        #98341c 40%, 
        #98341c 45%, 
        #1c1c1c 45%, 
        #1c1c1c 50%, 
        #006699 50%, 
        #006699 55%, 
        #99c93a 55%, 
        #99c93a 60%, 
        #ec1c21 60%, 
        #ec1c21 65%, 
        #3fba92 65%, 
        #3fba92 70%, 
        #641c64 70%, 
        #641c64 75%, 
        #f79815 75%, 
        #f79815 80%, 
        #98341c 80%, 
        #98341c 85%, 
        #1c1c1c 85%, 
        #1c1c1c 90%, 
        #006634 90%, 
        #006634 95%, 
        #2a64b0 95%, 
        #319844 100%
    );

    --gradient-colors-periodicos-h: linear-gradient(
        to right, 
        #fecc00 0%, 
        #fecc00 4%, 
        #1c1c5e 4%, 
        #1c1c5e 8%, 
        #ec1c21 8%, 
        #ec1c21 12%, 
        #981534 12%, 
        #981534 16%, 
        #006699 16%, 
        #006699 20%, 
        #f79815 20%, 
        #f79815 24%, 
        #006634 24%, 
        #006634 28%, 
        #cb1567 28%, 
        #cb1567 32%, 
        #98341c 32%, 
        #98341c 36%, 
        #1c1c1c 36%, 
        #1c1c1c 40%, 
        #006699 40%, 
        #006699 44%, 
        #99c93a 44%, 
        #99c93a 48%, 
        #ec1c21 48%, 
        #ec1c21 52%, 
        #3fba92 52%, 
        #3fba92 56%, 
        #641c64 56%, 
        #641c64 60%, 
        #f79815 60%, 
        #f79815 64%, 
        #98341c 64%, 
        #98341c 68%, 
        #1c1c1c 68%, 
        #1c1c1c 72%, 
        #006634 72%, 
        #006634 76%, 
        #2a64b0 76%, 
        #2a64b0 80%, 
        #319844 80%, 
        #319844 84%, 
        #ec1c21 84%, 
        #ec1c21 88%, 
        #006634 88%, 
        #006634 92%, 
        #cb1567 92%, 
        #cb1567 100%
    );
    
}

body{
    overflow-x: hidden !important;
}

/* ajustes para modal */
.modal {
    z-index: var(--z-index-layer-4);
}
  
.modal-backdrop {
    z-index: var(--z-index-layer-3);
}

.back-top {
    position: fixed;
    bottom: 20px;
    right: 0;
    padding: 4px 20px 1px 20px;
    border: 2px solid var(--pure-0);
    border-radius: 7px 7px 0px 0px;
    margin-right: 20px;
}

.h2, h2{
    color: var(--active);
}

figure h4{
    margin-top: 0px;
}
.carousel-control-next, .carousel-control-prev{
    width: 7%;
}
.menu-body li {
    list-style-type: none;
}

.header-info .site-name a{
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    overflow: hidden;
    color: var(--gray-80);
    font-size: 1.8rem;
    line-height: 26px;
    padding: 0 0 4px;
}

.header-info .site-name a:hover{
    color: var(--interactive);        
}

.site-name{
    margin: 0;
}

.page-header h2, .page-header .h2{
    line-height: 4rem;
    font-weight: 600;
    color: var(--active);
    padding-bottom: 10px;
    margin: 0;
    padding: 20px 0 20px 0;
}

.br-busca{
    background-color: var(--gray-2);
    margin-top: 20px;
    padding: 1.2rem;
    border-radius: 4px;
    -webkit-box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16);
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16);    
}

.br-busca input, .br-busca input::placeholder {
    font-size: 20px;
    font-weight: 400;
    color: var(--gray-40);
}

.br-busca input{
    height: 50px;
    color: var(--gray-80);
}

.card-parceiros {
    min-height: 580px;
}

.govbr-cards .card {
    max-width: 292px;
    min-height: 292px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.govbr-cards .card:hover {
    background-color: var(--blue-10) !important;
}

.govbr-cards .item-title a{
    text-decoration: none;
}

.govbr-items-leading .titulo a{
    font-size: 1.7rem;
    line-height: 1;
    font-weight: 600;
    color: var(--blue-warm-vivid-80);
    text-decoration: none;
}

.govbr-items-leading .titulo{
    margin: 0px;
    padding-bottom: 0.6rem;
}

.govbr-items-leading p{
    margin: 0px;
    padding-bottom: 0.2rem;
}

.share a{
    text-decoration: none;
}

.br-pagination a{
    text-decoration: none;
}

.collapse-example h4{
    color: var(--bs-link-color);
}

.stitle{
    color: var(--blue-warm-vivid-80);
}

.br-image-container {
    position: relative;
    overflow: hidden;
} 

.br-image-container img {
    width: 100%;
    transition: 0.5s ease;
}

.br-image-container:hover img {
    filter: brightness(50%);
}

.br-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--pure-0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.5s ease;
}

.br-image-container:hover .br-overlay {
    opacity: 1;
}

.br-overlay h3, .br-overlay p {
    color: var(--pure-0);
}

.br-overlay .btn {
    margin-top: 10px;
}

.perguntas-categoria a{
    text-decoration: none;
}


.ponto-norte{
    position: absolute;
    left: 13em;
    top: 9em;
    background-image: url('../svgs/suporte/ponto_.svg');
    width: 35px;
    height: 35px;
}

.ponto-nordeste{
    position: absolute;
    left: 35em;
    top: 13em;
    background-image: url('../svgs/suporte/ponto_.svg');
    width: 35px;
    height: 35px;
}


.ponto-cento-oeste{
    position: absolute;
    left: 24em;
    top: 23em;
    background-image: url('../svgs/suporte/ponto_.svg');
    width: 35px;
    height: 35px;
}

.ponto-suldeste{
    position: absolute;
    left: 32em;
    top: 23em;
    background-image: url('../svgs/suporte/ponto_.svg');
    width: 35px;
    height: 35px;
}

.ponto-sul{
    position: absolute;
    left: 25em;
    top: 32em;
    background-image: url('../svgs/suporte/ponto_.svg');
    width: 35px;
    height: 35px;
}

.ponto-active{
    background-image: url('../svgs/suporte/ponto.svg');
    width: 35px;
    height: 35px;
}

.mapa-do-brasil{
    width: 712px;
    height: 627px;
}

.dropdown-suporte{
    padding: 1em;
}

.br-card h4{
    margin: 0;
    padding: 0;
    color: var(--bs-link-color);
}

.br-collapse-content {
    position: absolute;
    z-index: 999;
    top: 65%;
    left: 20px;
    width: 100%;
    background-color: var(--pure-0);
    transition: max-height 0.5s ease;
    /* overflow: hidden; */
    border-top: solid 2px var(--color-support-02);
}

.br-collapse-content::before {
    content: '';
    position: absolute;
    top: -12px;
    left: 2px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid var(--blue-warm-vivid-70);
}

.br-collapse-content h6{
    font-weight:600;
    margin-top: 1rem;
    margin-bottom: 0;
    padding: 0;
}

.br-collapse-content .br-select{
    max-width: 100%;
}

.br-collapse-content .br-list{
    z-index: 999;
}

.br-filtro .header{
    font-size: large;
    text-decoration: none;
}

.br-list-card h4{
    cursor: pointer;
    font-size: var(--font-size-scale-up-02);
}

.br-list-card h6{
    cursor: pointer;
    font-size: var(--font-size-scale-base);
    margin: 0;
    padding: 0;
}

.br-little-cards .menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    background-color: var(--gray-3);
    width: 260px;
    height: 260px;
    padding: 1rem;
    margin-right: 2rem;
    box-shadow: var(--surface-offset-none) var(--surface-offset-md) var(--surface-blur-lg) rgba(var(--surface-shadow-color),var(--surface-opacity-xs))
}

.br-little-cards .active {
    background-image: linear-gradient(rgba(var(--interactive-rgb),var(--pressed)),rgba(var(--interactive-rgb),var(--pressed)));
    color: var(--gray-warm-1);
}

.br-little-cards .menu-item:last-child {
    margin-right: 0;
}

.br-little-cards .menu-item .icone,
.br-little-cards .menu-item .image-title {
    display: inline-block;
    vertical-align: middle;     
}

.br-little-cards .menu-item .icone {
    font-size: 3.5rem;
    width: 80px;
}
.br-little-cards .menu-item .image-title {
    font-size: var(--font-size-scale-up-02);
    font-weight: var(--font-weight-medium);
}

.horizontal {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    list-style: none;
}

.horizontal > li {
    display: inline-block;
    margin-right: 20px;
}

.horizontal > li:last-child {
    margin-right: 0;
}

.horizontal .menu-item {
    text-decoration: none;
    font-size: 16px;
}


.horizontal .nav-child {
    list-style: none;
    padding: 0;
    margin: 0;
}

.horizontal .nav-child a {
    display: block;
    text-decoration: none;
    margin-bottom: 10px;
    align-items: var(--spacing-vertical-center);
    display: flex;
    font-size: var(--font-size-scale-base);
    justify-content: space-between;
    padding: var(--spacing-scale-base) var(--spacing-scale-2x);
}

.horizontal .nav-child a:last-child {
    margin-bottom: 0;
}

.horizontal > ul> li>a{
    align-items: var(--spacing-vertical-center);
    display: flex;
    font-size: var(--font-size-scale-base);
    font-weight: var(--font-weight-bold);
    justify-content: space-between;
    padding: var(--spacing-scale-base) var(--spacing-scale-2x);
    text-transform: uppercase;
}

.horizontal>a{
    align-items: var(--spacing-vertical-center);
    font-size: var(--font-size-scale-base);
    font-weight: var(--font-weight-bold);
    padding: var(--spacing-scale-base) var(--spacing-scale-2x);
    text-transform: uppercase;
}

.horizontal a.active{
    font-weight: var(--font-weight-bold);
    background-image: linear-gradient(rgba(var(--interactive-rgb),var(--pressed)),rgba(var(--interactive-rgb),var(--pressed)))
}

.shine {
    background: #f6f7f8;
    background-image: linear-gradient(to right, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
    background-repeat: no-repeat;
    background-size: 800px 104px;
    display: inline-block;
    position: relative;

    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: placeholderShimmer;
    -webkit-animation-timing-function: linear;
}

/* Treinamentos calendário */

.fc-toolbar-chunk > button.btn-primary{
    background-color: rgba(255, 255, 255, 0) !important;
    border: none;
}

.fc-toolbar-chunk > button.btn-primary:hover{
    color: var(--interactive);
}

.fc-header-toolbar{
    background-color: var(--active);
}

.fc .fc-toolbar.fc-header-toolbar{
    margin: 0px;
    padding: 0.8em;
}

h2.fc-toolbar-title{
    color: var(--pure-0);
    font-size: var(--font-size-scale-up-04) !important;
    font-weight: var(--font-weight-medium);
}

h2.fc-toolbar-title::first-letter{
    text-transform: capitalize;
}

/* .fc-daygrid-event{
    background-color: #FFF !important;
} */

.fc{
    background: var(--pure-0);
}

.label-filtro-calendario{
    text-transform: capitalize;
}

#info-treinamento p {
    font-size: 15px;
}

a.fc-daygrid-event{
    cursor:pointer;
    background: none;
    border: none;
    color: #000;
    border-left: 6px solid rgb(66 187 147);
    border-radius: 0;
    padding-left: 5px;
}

a.fc-daygrid-event:hover{
    background: rgb(66 187 147);
    border: none;
    padding-left: 5px;
}

.fc-event-title{
    color: var(--active);
}
.fc-event-title:hover{
    color: var(--pure-0);
}

#info-treinamento #categoria{
    background: rgb(66 187 147);
    color: var(--pure-0);
}

#br-calendar h4{
    margin: 0;
    padding: 0;
    color: var(--bs-link-color);
    font-size: var(--font-size-scale-up-01);
}

#br-calendar .card-header{
    background-color: var(--gray-3);
    font-size: var(--font-size-scale-up-02);
    color: var(--active);
    opacity: 0.8;
}

#br-calendar{
    /* border: 1px solid var(--border-color); */
}

.fc-col-header tbody tr th a{
    font-size: var(--font-size-scale-up-01);
    font-weight: var(--font-weight-semi-bold);
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    border-right: 1px solid var(--border-color);
}

.treinamento-description p{
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}
  
/* Treinamentos calendário */

/* Acesso Aberto */

.br-little-cards-small .menu-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    background-color: var(--gray-3);
    min-width: 200px;
    height: 60px;
    padding: 1rem;
    margin-right: 2rem;
    box-shadow: var(--surface-offset-none) var(--surface-offset-md) var(--surface-blur-lg) rgba(var(--surface-shadow-color),var(--surface-opacity-xs))
}

.br-little-cards-small  ul, .br-little-cards ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 0;
    justify-content: center;
}

.br-little-cards-small ul > li, .br-little-cards li {
    display: inline-block;
    margin-right: 2rem;
}

.br-little-cards-small {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.br-little-cards-small a {
    text-decoration: none;
    font-weight: var(--font-weight-semi-bold);
    flex: 1 1 auto;
    margin: 0.5rem;
    max-width: 200px;
}

.br-little-cards-small a.active {
    background-image: linear-gradient(rgba(var(--interactive-rgb), var(--pressed)), rgba(var(--interactive-rgb), var(--pressed)));
    color: var(--gray-warm-1);
}

.br-little-cards-small .menu-item:last-child {
    margin-right: 0;
}

.br-little-cards-small .menu-item .icone,
.br-little-cards-small .menu-item .image-title {
    display: inline-block;
    vertical-align: middle;     
}

.br-little-cards-small .menu-item .icone {
    font-size: 3.5rem;
    width: 80px;
}

.br-little-cards-small .menu-item .image-title {
    font-size: var(--font-size-scale-up-02);
    font-weight: var(--font-weight-medium);
}

@media (max-width: 768px) {
    .br-little-cards-small a,
    .br-little-cards-small li,
    .br-little-cards-small li .menu-item {
        flex: 1 1 100%;
        max-width: 100%;
        width: 100%;
        margin-right: 0;
    }
    .br-little-cards-small .menu-item{
        margin-right: 0;
    }
}


.br-menu-lateral a{
    text-decoration: none;
}

.br-menu-lateral li{
    border-bottom: 1px solid var(--border-color);
}

.acesso-cafe-form .br-select{
    max-width: 100%;
}

/* Busca */

/* Remove as bordas arredondadas internas */
.input-group .form-select,
.input-group .form-control,
.input-group .btn {
    border-radius: 0;
}

.input-group .form-select:first-child {
    border-top-left-radius: 0.375rem;
    border-bottom-left-radius: 0.375rem;
}

.input-group .btn:last-child {
    border-top-right-radius: 0.375rem;
    border-bottom-right-radius: 0.375rem;
}

/* Remove as bordas entre os elementos internos */
.input-group .form-select {
    border-right: 0;
}

.input-group .form-control {
    border-left: 0;
    border-right: 0;
}

.input-group .btn {
    border-left: 0;
}

/* Remove o foco azul (outline) ao clicar */
.input-group .form-select:focus,
.input-group .form-control:focus,
.input-group .btn:focus {
    outline: none;
    box-shadow: none;
}

.input-group .form-control:focus {
    border-color: inherit;
}

.input-group .btn:focus {
    border-color: inherit;
}

/* Busca */

.titulo-busca {
    text-decoration: none !important;
}

.result-busca .br-item:hover{
    background-image: linear-gradient(rgba(var(--color-rgb), var(--hover)), rgba(var(--color-rgb), var(--hover)));
}

.result-busca .br-item.selected span,
.result-busca .br-item.selected a,
.result-busca .br-item.selected button{
    color: var(--pure-0)!important;
}

.result-busca .br-item.selected .blockquote-busca p{
    color: var(--blue-50) !important;
}

.blockquote-busca {
    border-left: 5px solid;
    border-image: var(--gradient-colors-periodicos) 1;
    padding-left: 15px;
}

.result-busca .br-item.selected{
    background-color: var(--blue-50) !important;
}

/* Login */

#card-login {
    width: 300px !important;
    z-index: 100 !important;
}

.br-login {
    position: relative;
    border-radius: 0px !important;
    padding: .8em !important;
    border-top: none; /* Remove a borda existente */
}

.br-login::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px; /* Espessura da borda */
    background: var(--yellow-vivid-20); 
}

.dropdown-menu .br-input {
    min-width: auto;
    width: 100%;
}

#member-registration select, #trUFLabel select, #form-fale-conosco select{
    background-color: var(--background-light);
    border-color: var(--border-color-alternative);
    border-radius: var(--surface-rounder-sm);
    border-style: var(--border-style);
    border-width: var(--border-width);
    color: var(--color-light);
    display: block;
    font-size: var(--font-size-scale-up-01);
    font-weight: var(--font-weight-medium);
    height: var(--input-size);
    margin-top: var(--spacing-scale-half);
    width: 100%;
}
#form-fale-conosco textarea{
    background-color: var(--background-light);
    border-color: var(--border-color-alternative);
    border-radius: var(--surface-rounder-sm);
    border-style: var(--border-style);
    border-width: var(--border-width);
    color: var(--color-light);
    display: block;
    font-size: var(--font-size-scale-up-01);
    font-weight: var(--font-weight-medium);
    width: 100%;
}

#member-registration .br-select, #trUFLabel .br-select{
    max-width: none !important;
    width: 100%;
}

#tableFrmVinc th {
    font-weight: var(--font-weight-semi-bold);
}

#jform_username:disabled{
    padding-left: 45px;
}

.fab.fa-x-twitter {
    display: inline-block;
    width: 30px;
    height: 13px;
    background-image: url('data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 shape-rendering=%22geometricPrecision%22 text-rendering=%22geometricPrecision%22 image-rendering=%22optimizeQuality%22 fill-rule=%22evenodd%22 clip-rule=%22evenodd%22 viewBox=%220 0 512 509.64%22 width=%2224%22 height=%2224%22%3E%3Cpath fill=%22%231351b4%22 fill-rule=%22nonzero%22 d=%22M323.74 148.35h36.12l-78.91 90.2 92.83 122.73h-72.69l-56.93-74.43-65.15 74.43h-36.14l84.4-96.47-89.05-116.46h74.53l51.46 68.04 59.53-68.04zm-12.68 191.31h20.02l-129.2-170.82H180.4l130.66 170.82z%22/%3E%3C/svg%3E');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.fab.fa-x-twitter-b {
    display: inline-block;
    width: 30px;
    height: 13px;
    background-image: url('data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 shape-rendering=%22geometricPrecision%22 text-rendering=%22geometricPrecision%22 image-rendering=%22optimizeQuality%22 fill-rule=%22evenodd%22 clip-rule=%22evenodd%22 viewBox=%220 0 512 509.64%22 width=%2224%22 height=%2224%22%3E%3Cpath fill=%22%23c5d4eb%22 fill-rule=%22nonzero%22 d=%22M323.74 148.35h36.12l-78.91 90.2 92.83 122.73h-72.69l-56.93-74.43-65.15 74.43h-36.14l84.4-96.47-89.05-116.46h74.53l51.46 68.04 59.53-68.04zm-12.68 191.31h20.02l-129.2-170.82H180.4l130.66 170.82z%22/%3E%3C/svg%3E');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


/* home */

.title-home {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.title-home::before {
    content: "";
    position: absolute;
    top: 53%;
    width: 100%;
    height: 1px;
    background-color: var(--border-color);
    transform: translateY(-50%);
    z-index: 1;
}

.title-home span {
    background-color: var(--pure-0);
    padding: 0 10px;
    z-index: 2;
    position: relative;
}

/* Busca home */
.search-container {
    display: flex;
    align-items: center;
    border: 1px solid var(--border-color);
    border-radius: 9px;
    overflow: hidden;
    width: 100%;
    max-width: 100%; /* Largura maior para desktop */
    margin: 0 auto; /* Centraliza no desktop */
    background-color: var(--pure-0);
}

.search-container input {
    border: none;
    padding: 12px;
    flex-grow: 1;
    outline: none;
    font-size: 16px;
    margin-bottom: 0 !important;
    border-radius: none;
}

.search-container input, .search-container input::placeholder {
    font-size: 20px;
    font-weight: 400;
}

.search-container select {
    border: none;
    padding: 12px;
    background-color: var(--grey-3);
    font-size: 16px;
    outline: none;
    border-left: 1px solid var(--border-color);
}

.search-container button {
    background-color: transparent;
    border: none;
    padding: 12px;
    height: 42px;
    width: 42px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, border-radius 0.3s, padding 0.3s;
}

.search-container button i {
    font-size: 18px;
    color: var(--interactive-light);
}

  /* Hover ajustado para o botão */
.search-container button:hover {    
    background-color: var(--blue-10);
}

.search-container .icon-periodicos{
    height: 44px;
}

  /* Responsividade para dispositivos móveis */
@media (max-width: 768px) {
    .search-container {
        max-width: 100%; /* O input ocupa toda a largura em telas pequenas */
    }

    .search-container input,
    .search-container select {
        font-size: 14px; /* Tamanho menor de fonte em dispositivos móveis */
        padding: 10px;
    }

    .search-container button i {
        font-size: 16px;
    }
}

.container-loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 200;
}

.loader {
    height: 20px;
    width: 250px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.loader--dot {
    animation-name: loader;
    animation-timing-function: ease-in-out;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    height: 20px;
    width: 20px;
    /* border-radius: 100%; */
    background-color: var(--pure-100);
    position: absolute;
    /* border: 2px solid white; */
}

.loader--dot:first-child {
    background-color: #006634;
    animation-delay: 0.5s;
}

.loader--dot:nth-child(2) {
    background-color: #006699;
    animation-delay: 0.4s;
}

.loader--dot:nth-child(3) {
    background-color: #981534;
    animation-delay: 0.3s;
}

.loader--dot:nth-child(4) {
    background-color: #ec1c21;
    animation-delay: 0.2s;
}

.loader--dot:nth-child(5) {
    background-color: #1c1c5e;
    animation-delay: 0.1s;
}

.loader--dot:nth-child(6) {
    background-color: #d9b009;
    animation-delay: 0s;
}

.loader--text {
    position: absolute;
    top: 200%;
    left: 0;
    right: 0;
    width: 4rem;
    margin: auto;
}

.loader--text:after {
    content: "Buscando";
    font-weight: bold;
    animation-name: loading-text;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes loader {
    15% {
        transform: translateX(0);
    }
    45% {
        transform: translateX(230px);
    }
    65% {
        transform: translateX(230px);
    }
    95% {
        transform: translateX(0);
    }
}
@keyframes loading-text {
    0% {
        content: "Buscando";
    }
    25% {
        content: "Buscando.";
    }
    50% {
        content: "Buscando..";
    }
    75% {
        content: "Buscando...";
    }
}

.form-control:invalid:focus, .form-control:focus, .form-control.is-invalid{
    border-color: none !important;
    box-shadow: none !important;
}

/* admin */
.br-navbar a{
    padding: .5em;
}

.br-navbar .active{
    background-image: linear-gradient(rgba(var(--interactive-rgb), var(--pressed)), rgba(var(--interactive-rgb), var(--pressed)));
}

.br-tab[data-counter=true] .tab-nav ul{
    margin-bottom: 1em !important;
}

#form-padrao-filtro select{
    background-color: var(--background-light);
    border-color: var(--border-color-alternative);
    border-radius: var(--surface-rounder-sm);
    border-style: var(--border-style);
    border-width: var(--border-width);
    color: var(--color-light);
    display: block;
    font-size: var(--font-size-scale-up-01);
    font-weight: var(--font-weight-medium);
    height: var(--input-size);
    margin-top: var(--spacing-scale-half);
    width: 100%;
}

.br-tab a, .br-tab a:hover, .modal-header h5{
    margin: 0 !important;
    padding: 0 !important;
    text-decoration: none !important;
    background: none !important;
}

/* login */
.br-sign-in .content{
    height: 25px;
    vertical-align: inherit;
    width: 25px;       
}

.br-sign-in-show {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: auto;
    right: auto;
    margin: 0px;
    transform: translate(-98px, 34px);
}

@media (max-width: 768px) {

    .br-menu-footer > ul {
        flex-direction: column;
    }

    .br-little-cards-small  ul, .br-little-cards ul {
        flex-direction: column;
    }
    
    .br-little-cards-small  li, .br-little-cards li {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .br-header .header-logo {
        --header-logo-size:var(--header-logo-large);
        margin: 0
    }
    
    .br-header[data-sticky] .header-logo img {
        margin-right: var(--spacing-scale-half);
    }

    #main{
        padding: 1rem;
    }

    .br-sign-in-show {
        position: absolute;
        inset: 0px auto auto 0px;
        margin: 0px;
        transform: translate3d(-198px, 34px, 0px);
    }

    #form-padrao-filtro .br-card{
        max-width: 85% !important;
    }

    .br-little-cards {
        flex-direction: column;
        align-items: center;
    }

    .br-little-cards a {
        width: 100%;
        margin-bottom: 15px;
    }

    .br-little-cards .menu-item {
        margin-right: 0px;
    }

    .page-header h2, .page-header .h2 {
        line-height: 2rem;
    }
}

.br-avatar, .br-avatar .content {
    font-size: var(--font-size-scale-up-01);
}

.br-table thead tr th {
    font-weight: var(--font-weight-semi-bold);    
}

.br-menu.menu-acesso-aberto{
    --menu-zindex: var(--z-index-layer-1);
}

@media (max-width: 1279px) {
    .nav-hover .br-list {
        display: block !important;
    }
}

#main-searchbox label{
    display: none;
}

.br-menu-footer > ul{
    display: flex;
    list-style-type: none; /* Remove os marcadores da lista */
    padding: 0;
    margin: 0;
}

.br-menu-footer > ul > li{
    margin-right: 8rem;
}

#faceta .br-input>label, .br-checkbox-item label{
    display: none;
}

.br-menu-footer .content, .br-menu-footer>ul>li>a{
    color: var(--pure-0);
}

.logo-acesso-a-informacao{
    -webkit-filter:invert(1);
    filter:invert(1);
}

.background-none{
    background: none !important;
}

@media (min-width: 576px) {
    .br-header .header-logo {
        --header-logo-size: var(--header-logo-medium);
        margin: 0;
    }
}

.br-informativos .share-container.active {
    border: 1px solid var(--active);
    border-radius: 30px;
}

.br-informativos .share-icons {
    display: flex;
    gap: 10px;
    opacity: 0;
    visibility: hidden;
    transform: scaleX(0);
    transform-origin: right;
    transition: opacity 0.3s, transform 0.3s;
}

.br-informativos .share-container.active .share-icons {
    opacity: 1;
    visibility: visible;
    transform: scaleX(1);
}

.br-informativos .share-toggle {
    z-index: 2;
}

#form-fale-conosco .periodicos-upload .upload-button {
    max-width: 100%;
}

.periodicos-upload input {
    display: none
}

.periodicos-upload .upload-button {
    --button-radius: 100em;
    --button-xsmall: 24px;
    --button-small: 32px;
    --button-medium: 40px;
    --button-large: 48px;
    --button-size: var(--button-medium);
    align-items: center;
    background-color: transparent;
    border: 0;
    border: var(--surface-width-sm) dashed var(--interactive);
    border-radius: var(--button-radius);
    border-radius: var(--surface-rounder-sm);
    color: var(--interactive);
    cursor: pointer;
    display: inline-flex;
    display: block;
    font-size: var(--font-size-scale-up-01);
    font-size: var(--font-size-scale-base);
    font-style: italic;
    font-weight: var(--font-weight-semi-bold);
    font-weight: var(--font-weight-regular);
    height: var(--button-size);
    justify-content: center;
    margin-top: var(--spacing-scale-half);
    max-width: 550px;
    min-height: var(--button-size);
    overflow: hidden;
    padding: 0 var(--spacing-scale-3x);
    padding-left: var(--spacing-scale-2x);
    padding-right: var(--spacing-scale-2x);
    position: relative;
    text-align: center;
    text-align: left;
    vertical-align: middle;
    white-space: nowrap;
    width: auto;
    width: 100%
}

.periodicos-upload .upload-button .fa,.periodicos-upload .upload-button .fab,.periodicos-upload .upload-button .fad,.periodicos-upload .upload-button .fal,.periodicos-upload .upload-button .far,.periodicos-upload .upload-button .fas,.periodicos-upload .upload-button .svg-inline--fa {
    margin-right: var(--spacing-scale-base)
}

.periodicos-upload .upload-list {
    max-width: 550px;
    position: relative
}

.periodicos-upload .upload-list .content {
    align-self: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 70%
}

.periodicos-upload .upload-list .support {
    align-items: center;
    display: flex
}

.periodicos-upload .br-tooltip {
    max-width: 93%
}

.periodicos-upload .upload-button:disabled {
    cursor: not-allowed
}

.periodicos-upload .upload-button:not(:disabled) {
    --focus-offset: var(--spacing-scale-half)
}

.periodicos-upload .upload-button:not(:disabled):focus {
    outline: none
}

.periodicos-upload .upload-button:not(:disabled).focus-visible,.periodicos-upload .upload-button:not(:disabled):focus-visible {
    outline-color: var(--focus);
    outline-offset: var(--focus-offset);
    outline-style: var(--focus-style);
    outline-width: var(--focus-width)
}

.periodicos-upload .upload-button:not(:disabled):not(:disabled):hover {
    background-image: linear-gradient(rgba(var(--interactive-rgb),var(--hover)),rgba(var(--interactive-rgb),var(--hover)))
}

.periodicos-upload .upload-button:not(:disabled):not(:disabled):active {
    background-image: linear-gradient(rgba(var(--interactive-rgb),var(--pressed)),rgba(var(--interactive-rgb),var(--pressed)))
}

.periodicos-upload .upload-button.active,.periodicos-upload .upload-button.is-active,.periodicos-upload .upload-button[active] {
    --hover: var(--hover-dark);
    background-color: var(--active);
    color: var(--color-dark)
}

.periodicos-upload .upload-button.loading {
    color: transparent!important;
    cursor: progress
}

.periodicos-upload .upload-button.loading:not(:disabled):hover {
    background-image: none
}

.periodicos-upload .upload-button.loading:before {
    border-color: var(--interactive) var(--interactive) transparent;
    border-style: solid
}

.periodicos-upload .upload-button.loading.danger:before,.periodicos-upload .upload-button.loading.info:before,.periodicos-upload .upload-button.loading.primary:before,.periodicos-upload .upload-button.loading.success:before {
    border-color: var(--background) var(--background) transparent
}

.periodicos-upload.success .upload-button,.periodicos-upload[data-success] .upload-button {
    border-color: var(--success)
}

.periodicos-upload.danger .upload-button,.periodicos-upload[data-danger] .upload-button {
    border-color: var(--danger)
}

.periodicos-upload.warning .upload-button,.periodicos-upload[data-warning] .upload-button {
    border-color: var(--warning)
}

.periodicos-upload.info .upload-button,.periodicos-upload[data-info] .upload-button {
    border-color: var(--info)
}

.periodicos-upload.dragging .upload-button {
    background-image: linear-gradient(rgba(var(--interactive-rgb),var(--hover)),rgba(var(--interactive-rgb),var(--hover)))
}